{% extends "layout.html" %}

{% block body %}
<header class="navbar navbar-toggleable-md navbar-light bg-primary bg-faded">
    <nav class="container w-100">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{{url_for('index')}}">Yummy Recipes</a>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">View Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#newRecipeModal" data-toggle="modal" data-target="#newRecipeModal">New Category</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<section id="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">
                Dashboard
            </li>
        </ol>
    </div>
</section>
<section id="main">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <ul class="list-group" style="margin-bottom: 10px">
                    <button type="button" class="list-group-item list-group-item-action">View Categories</button>
                    <button type="button" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#categoryModal">
                        Add Category
                    </button>
                    <button type="button" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#newRecipeModal">
                        Add recipe
                    </button>
                </ul>
            </div>
            <div class="col-md-9" style="margin-bottom: 70px">
                <div class="card text-center">
                    <div class="card-header">
                        Categories
                    </div>
                    <div class="row card-block">
                        {% for category in categories %}
                        <div class="col-md-3">
                            <div class="well">
                                <div class="well" style="margin: 5px">
                                    <a href="/edit_category/{{category}}" class="btn btn-outline-primary btn-sm"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                    <a href="/delete_category/{{category}}" class="btn btn-outline-danger btn-sm"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                </div>
                                <h4 class="card-title">{{category}}</h4>
                                <p class="card-text">{{categories[category]['description']}}</p>
                                <a data-toggle="collapse" href="#collapse{{category}}" class="btn btn-primary" aria-expanded="true" aria-controls="collapse{{category}}">View Recipes</a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <!-- Recipes -->
                {% for category in categories %}
                <div class="collapse" id="collapse{{category}}">
                    <div class="card" style="margin-top: 10px">
                        <div class="card-header">
                            {{category}}
                            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#newRecipeModal">Add Recipe</button>
                        </div>
                        <div class="card-block">
                            <div id="accordion" role="tablist" aria-multiselectable="true">
                                
                                {% for recipe in categories[category]['recipes'] %}
                                <div class="card" style="margin-bottom: 5px">
                                    <div class="card-header" role="tab" id="recipeOne">
                                        <h5 class="mb-0">
                                            {{categories[category]['recipes'][recipe]['name']}}
                                        </h5>
                                    </div>
                                    <div class="card-block">
                                        <h6>Fun Fact</h6>
                                        <p>{{categories[category]['recipes'][recipe]['fun_fact']}}</p>
                                        <h6>Ingredients</h6>
                                        <p>{{categories[category]['recipes'][recipe]['ingredients']}}</p>
                                        <h6>Directions and Serving</h6>
                                        <p>{{categories[category]['recipes'][recipe]['directions']}}</p>
                                    </div>
                                    <div class="card-footer">
                                        <button type="button" class="btn btn-outline-info" id="editRecipeBtn" onclick="underConstruction()"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Recipe</button>
                                        <button type="button" class="btn btn-danger" id="delRecipeBtn" onclick="underConstruction()"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete Recipe</button>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- Category modal -->
                <div class="modal fade" id="categoryModal" tabindex="-1" role="dialog" aria-labelledby="categoryModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="categoryModalLabel">Add Recipe Category</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% from "_formhelper.html" import render_field %}
                        <form action="/dashboard" method="POST">
                            {{ form.hidden_tag() }}
                            <div class="modal-body">
                                <div class="form-group">
                                    {{ render_field(form.name, class="form-control", placeholder="Category name") }}
                                    {{ render_field(form.description, class="form-control", placeholder="A slight description") }}
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Add Category</button>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
                
                <!-- New Recipe Modal -->
                <div class="modal fade" id="newRecipeModal" tabindex="-1" role="dialog" aria-labelledby="newRecipeModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            {% from "_formhelper.html" import render_field %}
                            <form action="/add_recipe" method="POST">
                                {{form_rec.hidden_tag()}}
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">New Recipe</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        {{render_field(form_rec.category, class='form-control', placeholder='Category name')}}
                                    </div>
                                    <div class="form-group">
                                        {{render_field(form_rec.name, class='form-control', placeholder='Name of the recipe')}}
                                    </div>
                                    <div class="form-group">
                                        {{render_field(form_rec.fun_fact, class='form-control', placeholder='Tell us something fun about this recipe')}}
                                    </div>
                                    <div class="form-group">
                                        {{render_field(form_rec.ingredients, class='form-control', placeholder='What ingredients are need?')}}                                   
                                    </div>
                                    <div class="form-group">
                                        {{render_field(form_rec.description, class='form-control', placeholder='How to prepare and serve')}}
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Add Recipe</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}