{% extends "layout.html" %}

{% block body %}
<header class="navbar navbar-toggleable-md navbar-light bg-primary bg-faded">
    <nav class="container w-100">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{{url_for('index')}}">Yummy Recipes</a>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">View Categories</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#" >Edit {{form.name.data}} Category</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

{% from "_formhelper.html" import render_field %}
<div class="container">
   <form class="form" action="/edit_category/{{form.name.data}}" method="POST">
        {{form.hidden_tag()}}
        <div class="form-group">
            {{render_field(form.name, class="form-control form-control-static")}}
        </div>
        <div class="form-group">
            {{render_field(form.description, class="form-control")}}        
        </div>
        <div class="form-group">
            <a class="btn btn-outline-primary" href="/dashboard">Cancel</a>
            <input class="btn btn-success" type="submit" value="Modify">
        </div>
    </form> 
</div>

{% endblock %}