{% extends "layout.html" %}

{% block body %}
<div class="jumbotron" style="margin-top: 3px;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="well">
                    <h1 style="font-family: 'Kaushan Script', cursive;">Welcome foodie,</h1>
                    <p class="lead">Yummy Recipes is a platform for you to keep track of your awesome recipes and share with others if you so wish.
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="well">
                    <h3>New foodie?</h3>
                    <a href="{{url_for('signup')}}" class="btn btn-outline-primary btn-block">Sign Up</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="well">
                    <h3>Returning foodie,</h3>
                    <a href="{{url_for('login')}}" class="btn btn-outline-success btn-block">login</a>
                </div>
            </div>
        </div>
    </div>                
</div>
{% endblock %}