{% extends "layout.html" %}

{% block content %}
<header class="navbar navbar-toggleable-md navbar-light bg-primary bg-faded">
    <nav class="container w-100">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{{url_for('index')}}">Yummy Recipes</a>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('index')}}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('signup')}}">Sign Up</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Login<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<form class="container form" action="{{url_for('dashboard')}}">
    <div class="form-group">
        <label for="enterEmail" class="text-white">Email Address</label>
        <input type="email" class="form-control" id="enterEmail" placeholder="Enter email address">
    </div>
    <div class="form-group">
            <label for="enterPassword" class="text-white">Password</label>
            <input type="password" class="form-control" id="enterPassword" placeholder="Enter password">
    </div>
    <button class="btn btn-primary" type="submit" aria-describedby="termsofUse">Login</button>
    <br/>
    <small class="form-text text-muted">Need an account? <a href="{{url_for('signup')}}">Sign Up</a>.</small>
</form>
{% endblock %}