{% extends "layout.html" %}

{% block body %}
<header class="navbar navbar-toggleable-md navbar-light bg-primary bg-faded">
    <nav class="container w-100">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{{url_for('index')}}">Yummy Recipes</a>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('index')}}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('signup')}}">Sign Up</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Login<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
</header>
{% from "_formhelper.html" import render_field %}
<form class="container form" action="/login" method="post">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.email.label(class="text-white") }}
        {{ form.email(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.password.label(class="text-white") }}
        {{ form.password(class="form-control") }}
    </div>
        {{ form.login(class="btn btn-primary") }}
    <br/>
    <small class="form-text text-muted">Need an account? <a href="{{url_for('signup')}}">Sign Up</a>.</small>
</form>
{% endblock %}