{% extends "layout.html" %}
{% block body %}

{% from "_formhelper.html" import render_field %}
<form class="container form w-40" action="/signup" method="post">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ render_field(form.email, class="form-control", placeholder="Enter valid email address") }}
    </div>
    <div class="form-group">
        {{ render_field(form.username, class="form-control", placeholder="Enter username") }}
    </div>
    <div class="form-group">
        {{ render_field(form.password, class="form-control", placeholder="Enter password") }}
    </div>                
    <div class="form-group">
        {{ render_field(form.confirm, class="form-control", placeholder="Confirm password") }}
    </div>
    {{ form.submit(class="btn btn-primary") }}
    <small id="termsofUse" class="form-text text-muted">By Signing Up you expressly agree to our <a href="#">Terms and Conditions</a>.</small>
    <br/>
    <small class="form-text text-muted">Already have an account? <a href="{{url_for('login')}}">Login</a>.</small>
</form>
{% endblock %}