{% extends "layout.html" %}
{% block content %}
        <header class="navbar navbar-toggleable-md navbar-light bg-primary bg-faded">
                <nav class="container w-100">
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="{{url_for('index')}}">Yummy Recipes</a>
                    
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{{url_for('index')}}">Home</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Sign Up<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{url_for('login')}}">Login</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
        <form class="container form" action="{{url_for('dashboard')}}">
            <div class="form-group">
                <label for="enterEmail" class="text-white">Email Address</label>
                <input type="email" class="form-control" id="enterEmail" placeholder="Please enter a valid email address">
            </div>
            <div class="form-group">
                    <label for="enterUsername" class="text-white">Username</label>
                    <input type="text" class="form-control" id="enterUsername" placeholder="Enter prefered username">
            </div>
            <div class="form-group">
                    <label for="enterPassword" class="text-white">Password</label>
                    <input type="password" class="form-control" id="enterPassword" placeholder="Enter password">
            </div>                
            <div class="form-group">
                    <label for="confirmPassword" class="text-white">Confirm Password</label>
                    <input type="password" class="form-control" id="confirmPassword" placeholder="Enter password">
            </div>
            <button class="btn btn-primary" type="submit" aria-describedby="termsofUse">Submit</button>
            <small id="termsofUse" class="form-text text-muted">By Signing Up you expressly agree to our <a href="#">Terms and Conditions</a>.</small>
            <br/>
            <small class="form-text text-muted">Already have an account? <a href="{{url_for('login')}}">Login</a>.</small>
        </form>
{% endblock %}